
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="header-styles.css">
</head>
<body>

    <!-- <div id="nav-bar">
        <div id="nav-left">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div id="nav-center">
            <a href="/">
                <i class="fa-solid fa-bacon"></i>
                <h2>Worse Twitter</h2>
            </a>
        </div>
        <div id="nav-right">
            <i class="fa-solid fa-search"></i>
            <i class="fa-solid fa-bell"></i>
            <i class="fa-solid fa-comment"></i>
            <a href="/profile"><i class="fa-solid fa-user-circle"></i></a>
        </div>
    </div> -->

    <div id="main">
    <div id="left">
        <div id="left-items">

            <div class="left-item">
                <i class="fa-solid fa-bacon"></i>
            </div>
            <div class="left-item">
                <i class="fa-solid fa-house"></i>
                <h1>Home</h1>
            </div>
            <div class="left-item">
                <i class="fa-solid fa-hashtag"></i>
                <h1>Explore</h1>
            </div>
            <div class="left-item">
                <i class="fa-solid fa-bell"></i>
                <h1>Notifications</h1>
            </div>
            <div class="left-item">
                <i class="fa-solid fa-comment"></i>
                <h1>Messages</h1>
            </div>
            <div class="left-item">
                <i class="fa-solid fa-bookmark"></i>
                <h1>Bookmarks</h1>
            </div>
            <div class="left-item">
                <i class="fa-solid fa-user-circle"></i>
                <h1>Profile</h1>
            </div>
            <div class="left-item">
                <i class="fa-solid fa-gear"></i>
                <h1>Settings</h1>
            </div>

            <div id="left-tweet-btn" class="left-item">
                <h1>Tweet</h1>
            </div>
        </div>
    </div>

    <div id="center">

        

