<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex</title>
    <link rel="stylesheet" href="profile-styles.css">
<%- include("partials/header"); -%>

    <div id="profile-info">
        <div id="profile-top">
            <div id="profile-imgs">
            <div id="profile-banner">
                <img src="https://i.etsystatic.com/30097568/r/il/b9d938/3369548185/il_570xN.3369548185_mn08.jpg" alt="">
            </div>
            <div id="profile-pic">
                <img src="https://www.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" alt="">
            </div>
        </div>
        <button id="profile-edit-btn">Edit profile</button>
        <div id="profile-bottom">
            <div id="profile-name">
                <h1>Alex</h1>
                <h2>@alex</h2>
            </div>
            <p id="profile-bio">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisi vel consectetur euismod, nisl nisi consectetur nisi, euismod.
            </p>
            <div id="profile-misc">
                <div class="profile-misc-item">
                    <i class="fa-solid fa-user-circle"></i>
                    <p>Gilbert, AZ</p>
                </div>
                <div class="profile-misc-item">
                    <i class="fa-solid fa-user-circle"></i>
                    <a href="http://www.emcassidy.com"><p>emcassidy.com</p></a>
                </div>
                <div class="profile-misc-item">
                    <i class="fa-solid fa-user-circle"></i>
                    <p>Born Oct 15</p>
                </div>
                <div class="profile-misc-item">
                    <i class="fa-solid fa-user-circle"></i>
                    <p>Joined June 2022</p>
                </div>
                
            </div>
            <div id="profile-follow-info">
                <div id="following" class="profile-follow-info-item">
                    <p id="following-amount">100</p>
                    <p> Following</p>
                </div>
                <div id="followers" class="profile-follow-info-item">
                    <p id="follower-amount">1T</p>
                    <p> Following</p>
                </div>
            </div>
        </div>
        <hr style="margin: 10px 0;">
        <div id="profile-tweets">
            TWEETS
        </div>
        
    </div>
</div>

</div>
<div id="right">
    <!-- Make a search bar -->
    <div id="search-bar">
        <input type="text" placeholder="Search">
    </div>
</div>
</div>
</body>
</html>