<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/signup-styles.css">
</head>
<body>
    <div id="left">
        <h1>!twitter</h1>
    </div>
    <div id="right">
        <div id="right-content">
            <h1>Sign Up Now</h1>
            <form action="/signup" method="POST">
                <input type="email" name="email" placeholder="Email">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input id="submit-btn" type="submit" value="Sign Up">
            </form>

            <a id="other-btn" href="/login">Already have an account? Log in Here</a>
        </div>
    </div>
</body>
</html>